<div class="container">
    <h2>
      Crear Personas
    </h2>
      <div>
          <div class="form-group">
            <label for="nombre">Nombre</label>
            <input  [(ngModel)]="persona.nombre" type="text" class="form-control" id="name" placeholder="ingrese nombre">
          </div>
           <div class="form-group">
            <label for="apellido">Apellido</label>
            <input [(ngModel)]="persona.apellido" type="text" class="form-control" id="name" placeholder="ingrese apellido">
          </div>
          <div class="form-group">
            <label for="telefono">Telefono</label>
            <input [(ngModel)]="persona.telofono" type="text" class="form-control" id="name" placeholder="ingrese numero">
          </div>
          <div class="form-group">
            <label for="correo">Correo</label>
            <input [(ngModel)]="persona.correo" type="email" class="form-control" id="name" placeholder="ingrese correo">
          </div>
          <div class="form-group">
            <label for="direccion">Direccion</label>
            <input [(ngModel)]="persona.direccion" type="text" class="form-control" id="name" placeholder="ingrese direccion">
          </div>
          <button (click)="post()" class="btn btn-primary btn-block">Guardar</button>
        </div>
  </div>
