<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">Prueba</a>
  <h4> 
    <a class="navbar-brand" routerLink="/home">Home</a>
    <a class="navbar-brand"  routerLink="/form">fromulario</a>
  </h4>
</nav>
<br/>   
<div class="container">
  <router-outlet></router-outlet>
</div>
 