<div class="container">
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Telefono</th>
            <th scope="col">Correo</th>
            <th scope="col">Direccion</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of personas">
            <td>{{item.nombre}}</td>
            <td>{{item.apellido}}</td>
            <td>{{item.telofono}}</td>
            <td>{{item.correo}}</td>
            <td>{{item.direccion}}</td>
            <td><a class="btn btn-primary btn-sm" routerLink="/form/{{item.id}}">Editar</a>
                <a class="btn btn-primary btn-sm btn-danger" (click)="delete(item.id)">Eliminar</a>
            </td>
          </tr> 
        </tbody>
      </table>
</div>
